[alias]
    st = status
    a = add
    b = branch
    c = commit
    co = checkout
    cob = checkout -b
    logp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
	name = RAPPAPORT Ari
	email = ari.rappaport@inria.fr
